node_modules
dist
unpackage
coverage
*.log
*.tsbuildinfo
.DS_Store
Thumbs.db
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env.local
.env.*.local
.cache
.temp
*.local
node_modules/.vite
node_modules/.cache
